#Copyright (C) Advanced Micro Devices, Inc. All rights reserved.
#SPDX-License-Identifier: MIT

[clock]
defaultFreqHz=250000000

[connectivity]
nk=s2mm:1:s2mm_1
nk=datagen:1:datagen
stream_connect=ai_engine_0.pr1_Dataout0:s2mm_1.s
stream_connect=datagen.out:ai_engine_0.pr1_Datain0
[advanced]
