Module_01_Custom_Platform/hw/build
Module_01_Custom_Platform/sw/build

Module_02_AI_Engine_Design/build/

Module_03_PL_Design/build/
Module_03_PL_Design/axi4s_regslice_64b/project_axi4s_regslice_64b/
Module_03_PL_Design/axi4s_regslice_64b/*.xml
Module_03_PL_Design/axi4s_regslice_64b/*.log
Module_03_PL_Design/axi4s_regslice_64b/*.jou
Module_03_PL_Design/dlbf_coeffs/project_dlbf_coeffs/
Module_03_PL_Design/dlbf_coeffs/*.xml
Module_03_PL_Design/dlbf_coeffs/*.log
Module_03_PL_Design/dlbf_coeffs/*.jou
Module_03_PL_Design/dlbf_data/project_dlbf_data/
Module_03_PL_Design/dlbf_data/*.xml
Module_03_PL_Design/dlbf_data/*.log
Module_03_PL_Design/dlbf_data/*.jou
Module_03_PL_Design/dlbf_slave/project_dlbf_slave/
Module_03_PL_Design/dlbf_slave/*.xml
Module_03_PL_Design/dlbf_slave/*.log
Module_03_PL_Design/dlbf_slave/*.jou
Module_03_PL_Design/ulbf_coeffs/project_ulbf_coeffs/
Module_03_PL_Design/ulbf_coeffs/*.xml
Module_03_PL_Design/ulbf_coeffs/*.log
Module_03_PL_Design/ulbf_coeffs/*.jou
Module_03_PL_Design/ulbf_data/project_ulbf_data/
Module_03_PL_Design/ulbf_data/*.xml
Module_03_PL_Design/ulbf_data/*.log
Module_03_PL_Design/ulbf_data/*.jou
Module_03_PL_Design/ulbf_slave/project_ulbf_slave/
Module_03_PL_Design/ulbf_slave/*.xml
Module_03_PL_Design/ulbf_slave/*.log
Module_03_PL_Design/ulbf_slave/*.jou

Module_04_AI_Engine_and_PL_Integration/build/

Module_05_Baremetal_Host_Application/build/
Module_05_Baremetal_Host_Application/.Xil/

Module_06_Running_the_Baremetal_System/build/

Module_07_Petalinux/build/

.vscode/