## ignore these
*.doctree
*.pickle
*.m
*.h
*.cpp
*.txt
*.sh
*.mem
*.cc
*.tcl
*.cfg
*.v
*.sv
*.ini
*.xml
*.vhd
*.zip
*.beforeInt16EditResult
*.beforeInt16LinePerSample
*.bif
*.dat
*.db
*.dtsi
*.jl
*.hpp
*.xdc
*.old
*.elf
*.xo
*lib*.so
*lib*.so.*
*.sample
Makefile
StreamThroughput
*.bb
*.bbappend
*.build
*.buildinfo
*.c
*.cmake
*.error_code
*.exe
*.f
*.git-id
*.gtcl
*.hpp*
*.hw
*.ini1
*.initrd
*.ld
*.mk
*.mo
*.nv12
*.patch
*.pc
*.pl
*.pro*
*.slx
*.sv_old
*.sw_emu
*.swp
*.tdata
*.template
*.ttcl
*.vhd
*.wcfg
*.xci
*.xlsx