[submodule "Runtime_and_System_Optimization/Design_Tutorials/02-ivas-ml/hw_src/Vitis_Libraries"]
	path = Runtime_and_System_Optimization/Design_Tutorials/02-ivas-ml/hw_src/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "Runtime_and_System_Optimization/Introduction/design_source/hw_src/Vitis_Libraries"]
	path = Runtime_and_System_Optimization/Introduction/design_source/hw_src/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries
