#
# Copyright (C) 2026, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Faisal El-Shabani

part=xcve2802-vsvh1760-2MP-e-S

[hls]
flow_target=vitis
clock=3.2ns

# C-Synthesis:
syn.top=packet_sender_wrapper
syn.file=packet_sender.cpp
syn.file_cflags=packet_sender.cpp,-I../../aie/channelizer/Work/temp
syn.file_csimflags=packet_sender.cpp,-I../../aie/channelizer/Work/temp

# Testbench:
tb.file=tb_wrapper.cpp
tb.file_cflags=tb_wrapper.cpp,-I../../aie/channelizer/Work/temp
tb.file=data/sig_i_0.txt
tb.file=data/sig_i_1.txt
tb.file=data/sig_o_0.txt
tb.file=data/sig_o_1.txt

# C-Simulation:
csim.clean=true
csim.setup=false

# C/RTL Co-Simulation:
cosim.setup=false
cosim.wave_debug=false
cosim.tool=xsim
cosim.trace_level=port

# Package:
package.output.file=packet_sender_wrapper.xo
package.output.format=xo

# OOC Place & Route:
vivado.flow=impl