#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Mark Rollins

[aie]

kernel-linting=true
xlopt=1
verbose=true
pl-freq=625
Xmapper=BufferOptLevel0
#stacksize=2800
#Xchess="main:backend.mist2.maxfoldk=150"
