#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
#
# Author Derek Hagen

include=./src
include=./src/graphs
include=./src/kernels

[aie]
verbose=true
kernel-linting=true
xlopt=1
Xmapper=BufferOptLevel7
pl-register-threshold=125
log-level=5
test-iterations=-1
pl-axi-lite=false
