#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
#
# Author Derek Hagen

[hls]
flow_target=vitis
#syn.top=vadd_s
#syn.file=./src/vadd_s.cpp
csim.setup=false
cosim.setup=false

#package.ip.name=vadd_s
package.output.format=xo
#package.output.file=../xo_hw/vadd_s.xo

vivado.flow=impl
