# /*
# Copyright (C) 2023, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
# */

freqhz=200MHz:stream_in1.ap_clk
freqhz=200MHz:stream_in2.ap_clk

[connectivity]
nk=aie_stream_in:1:aie_stream_in
nk=stream_in:2:stream_in1.stream_in2
nk=polar_clip:2:polar_clip1.polar_clip2
sc=AIE_IN:ai_engine_0.DataIn_1
sc=ai_engine_0.clip_in_1:polar_clip1.in_sample
sc=polar_clip1.out_sample:ai_engine_0.clip_out_1
sc=ai_engine_0.DataOut_1:stream_in1.s

sc=aie_stream_in.s:ai_engine_0.DataIn_2
sc=ai_engine_0.clip_in_2:polar_clip2.in_sample
sc=polar_clip2.out_sample:ai_engine_0.clip_out_2
sc=ai_engine_0.DataOut_2:stream_in2.s
[clock]
freqHz=100000000:polar_clip1.ap_clk
freqHz=100000000:polar_clip2.ap_clk
