#
# Copyright (C) 2026, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Richard Buz
#
# Function: Output permutation block for the polyphase filterbank.
#           Reorders the 8-stream AIE filterbank output back into
#           channel order before the cyclic-shift / DFT stage.
# Streams:  sig_i[8] x 128-bit in  -->  sig_o[8] x 128-bit out
# Clock:    5.0 ns (200 MHz)
# Build:    v++ -c --mode hls --config hls_permute_fb_o.cfg
#

part=xcvc1902-vsva2197-2MP-e-S

[hls]
flow_target=vitis
clock=5.0ns

# C-Synthesis:
syn.top=m16_ssr8_permute_fb_o_wrapper
syn.file=../channelizer_src/hls/m16_ssr8_permute_fb_o/m16_ssr8_permute_fb_o.cpp
syn.file_cflags=../channelizer_src/hls/m16_ssr8_permute_fb_o/m16_ssr8_permute_fb_o.cpp,-I../channelizer_src/hls/m16_ssr8_permute_fb_o
syn.output.format=xo
