#
# Copyright (C) 2026, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Richard Buz
#
# Function: Input permutation block for the polyphase filterbank.
#           Reorders the 7-stream (P/Q=8/7) oversampled input
#           into the 8-stream format required by the AIE filterbank.
# Streams:  sig_i[7] x 128-bit in  -->  sig_o[8] x 128-bit out
# Clock:    5.0 ns (200 MHz)
# Build:    v++ -c --mode hls --config hls_permute_fb_i.cfg
#

part=xcvc1902-vsva2197-2MP-e-S

[hls]
flow_target=vitis
clock=5.0ns

# C-Synthesis:
syn.top=m16_ssr8_permute_fb_i_wrapper
syn.file=../channelizer_src/hls/m16_ssr8_permute_fb_i/m16_ssr8_permute_fb_i.cpp
syn.file_cflags=../channelizer_src/hls/m16_ssr8_permute_fb_i/m16_ssr8_permute_fb_i.cpp,-I../channelizer_src/hls/m16_ssr8_permute_fb_i
syn.output.format=xo
