#Copyright (C) 2023, Advanced Micro Devices, Inc. All rights reserved.
#SPDX-License-Identifier: MIT

[connectivity]
nk=m2s_x2:1:m2s_x2_0
nk=packet_sender:1:packet_sender_0
nk=packet_receiver:1:packet_receiver_0
nk=s2m_x4:1:s2m_x4_0

stream_connect = m2s_x2_0.istrm:packet_sender_0.rx

stream_connect = packet_sender_0.tx0:ai_engine_0.in_i0
stream_connect = packet_sender_0.tx1:ai_engine_0.in_i1
stream_connect = packet_sender_0.tx2:ai_engine_0.in_i2
stream_connect = packet_sender_0.tx3:ai_engine_0.in_i3
stream_connect = packet_sender_0.tx4:ai_engine_0.in_i4
stream_connect = packet_sender_0.tx5:ai_engine_0.in_i5
stream_connect = packet_sender_0.tx6:ai_engine_0.in_i6
stream_connect = packet_sender_0.tx7:ai_engine_0.in_i7
stream_connect = packet_sender_0.tx8:ai_engine_0.in_i8
stream_connect = packet_sender_0.tx9:ai_engine_0.in_i9

stream_connect = m2s_x2_0.jstrm:ai_engine_0.in_j

stream_connect = ai_engine_0.out_i0:packet_receiver_0.rx0
stream_connect = ai_engine_0.out_i1:packet_receiver_0.rx1
stream_connect = ai_engine_0.out_i2:packet_receiver_0.rx2
stream_connect = ai_engine_0.out_i3:packet_receiver_0.rx3
stream_connect = ai_engine_0.out_i4:packet_receiver_0.rx4
stream_connect = ai_engine_0.out_i5:packet_receiver_0.rx5
stream_connect = ai_engine_0.out_i6:packet_receiver_0.rx6
stream_connect = ai_engine_0.out_i7:packet_receiver_0.rx7
stream_connect = ai_engine_0.out_i8:packet_receiver_0.rx8
stream_connect = ai_engine_0.out_i9:packet_receiver_0.rx9

stream_connect = packet_receiver_0.tx0:s2m_x4_0.k0_strm
stream_connect = packet_receiver_0.tx1:s2m_x4_0.k1_strm
stream_connect = packet_receiver_0.tx2:s2m_x4_0.k2_strm
stream_connect = packet_receiver_0.tx3:s2m_x4_0.k3_strm
