#
# Copyright (C) 2023, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Faisal El-Shabani

# ------------------------------------------------------------
# Clocks
# ------------------------------------------------------------

[connectivity]

# ------------------------------------------------------------
# HLS PL Kernels:
# ------------------------------------------------------------

# ------------------------------------------------------------
# AXI Stream Connections (PL to AIE)
# ------------------------------------------------------------

# ------------------------------------------------------------
# Vivado PAR
# ------------------------------------------------------------

[vivado]
#impl.strategies=Performance_Explore,Performance_ExplorePostRoutePhysOpt,Performance_WLBlockPlacement,Performance_WLBlockPlacementFanoutOpt,Performance_EarlyBlockPlacement,Performance_NetDelay_high,Performance_NetDelay_low,Performance_Retiming,Performance_ExtraTimingOpt,Performance_RefinePlacement,Congestion_SpreadLogic_high,Congestion_SpreadLogic_medium,Congestion_SpreadLogic_low,Area_Explore,Area_ExploreSequential,Area_ExploreWithRemap
#impl.jobs=8
prop=run.impl_1.steps.phys_opt_design.is_enabled=1
prop=run.impl_1.steps.post_route_phys_opt_design.is_enabled=1

# This enabled unified AIE flow to show AIE resource in Vivado:
param=project.enableUnifiedAIEFlow=true

