#
# Copyright (C) 2024, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Peifang Zhou, Bachir Berkane, Mark Rollins
#

[aie]
kernel-linting=true
xlopt=2
verbose=true
pl-freq=625
Xmapper=BufferOptLevel9
Xchess=main:darts.xargs=-nb
graph-iterator-event=true
event-trace=runtime
fast-nonlinearfloats=true

