#
# Copyright (C) 2021-2022, Xilinx, Inc. All rights reserved.
# Copyright (C) 2022-2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
#
# Author Derek Hagen

freqhz=500000000:subtractor_0.aclk,vss_top_counter_0
freqhz=250000000:mm2s_1,s2mm_1,subtractor_0.s00_axi_aclk

[connectivity]
nk=subtractor:1:subtractor_0
nk=mm2s:1
nk=s2mm:1

# Connect counter output channels to subtractor, routing two of them through AIE data mover kernels
sc=vss_top_counter_0.m00_axis:subtractor_0.s00_axis
#sc=vss_top_counter_0.m03_axis:subtractor_0.s03_axis
#sc=vss_top_counter_0.m04_axis:subtractor_0.s04_axis
sc=ai_engine_0.dm_out0:subtractor_0.s01_axis
sc=ai_engine_0.dm_out1:subtractor_0.s02_axis
sc=ai_engine_0.dm_out2:subtractor_0.s03_axis
sc=ai_engine_0.dm_out3:subtractor_0.s04_axis

# Connect mm2s to feed an axis 1 to 2 stream duplicator to feed the AIE FIR filters
sc=mm2s_1.s:vss_top_axis1to2_0.in0
# Connect the vadd_s from vss_top to s2mm so the output data can be analyzed with PS
sc=vss_top_vadd_s_0.out0:s2mm_1.s

sp=mm2s_1.mem:DDR
sp=s2mm_1.mem:DDR

[clock]
#id=0 -> clk_out1_o1 -> 500.00MHz
#id=0:subtractor_0,counter_0

#id=1 -> clk_out1_o2 -> 250.00MHz
#id=1:vadd_mm_1

#id=2 -> clk_out1_o3 -> 125.00MHz

#id=3 -> clk_out1_o4 -> 62.50MHz

#id=4 -> clk_out2 -> 333.33MHz
#id=4:vadd_s_1,mm2s_vadd_s_1,mm2s_vadd_s_2,s2mm_vadd_s_1

[advanced]
#param=hw_emu.enableProfiling=false
#param=compiler.addOutputTypes=hw_export

[vivado]
param=project.enableUnifiedAIEFlow=true
