#
# Copyright 2021 Xilinx, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[connectivity]
nk=counter:1
nk=subtractor:1
nk=vadd:1
nk=vadd_mm:1
nk=mm2s_vadd_mm:2
nk=s2mm_vadd_mm:1

sc=counter_1.m00_axis:subtractor_1.s00_axis
sc=counter_1.m01_axis:ai_engine_0.DataIn0
sc=counter_1.m02_axis:ai_engine_0.DataIn1
sc=counter_1.m03_axis:ai_engine_0.DataIn2
sc=counter_1.m04_axis:ai_engine_0.DataIn3
sc=ai_engine_0.DataOut0:subtractor_1.s01_axis
sc=ai_engine_0.DataOut1:subtractor_1.s02_axis
sc=ai_engine_0.DataOut2:subtractor_1.s03_axis
sc=ai_engine_0.DataOut3:subtractor_1.s04_axis

sc=mm2s_vadd_mm_1.s:vadd_mm_1.in0
sc=mm2s_vadd_mm_2.s:vadd_mm_1.in1
sc=vadd_mm_1.out:s2mm_vadd_mm_1.s

[clock]
#id=0  -> 500MHz
id=0:subtractor_1,counter_1
#id=1  -> 250MHz
id=1:vadd_1
#id=12 -> 333MHz
id=12:vadd_mm_1,mm2s_vadd_mm_1,mm2s_vadd_mm_2,s2mm_vadd_mm_1

[advanced]
#param=hw_emu.enableProfiling=false
#param=compiler.addOutputTypes=hw_export
