#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Mark Rollins

# ------------------------------------------------------------
# Clocks
# ------------------------------------------------------------

freqhz=312500000:buff0.ap_clk,buff1.ap_clk,buff2.ap_clk,buff3.ap_clk,buff4.ap_clk,buff5.ap_clk,buff6.ap_clk,buff7.ap_clk

[connectivity]

# ------------------------------------------------------------
# HLS PL Kernels:
# ------------------------------------------------------------

nk = image_buffer_8engine_wrapper:8:buff0,buff1,buff2,buff3,buff4,buff5,buff6,buff7

# ------------------------------------------------------------
# AXI Stream Connections (PL to AIE)
# ------------------------------------------------------------

sp=buff0.mem:LPDDR
sp=buff1.mem:LPDDR
sp=buff2.mem:LPDDR
sp=buff3.mem:LPDDR
sp=buff4.mem:LPDDR
sp=buff5.mem:LPDDR
sp=buff6.mem:LPDDR
sp=buff7.mem:LPDDR

sc = buff0.buff_to_aie:ai_engine_0.PLIO_i_image_0
sc = buff1.buff_to_aie:ai_engine_0.PLIO_i_image_1
sc = buff2.buff_to_aie:ai_engine_0.PLIO_i_image_2
sc = buff3.buff_to_aie:ai_engine_0.PLIO_i_image_3
sc = buff4.buff_to_aie:ai_engine_0.PLIO_i_image_4
sc = buff5.buff_to_aie:ai_engine_0.PLIO_i_image_5
sc = buff6.buff_to_aie:ai_engine_0.PLIO_i_image_6
sc = buff7.buff_to_aie:ai_engine_0.PLIO_i_image_7

sc = ai_engine_0.PLIO_o_image_0:buff0.aie_to_buff
sc = ai_engine_0.PLIO_o_image_1:buff1.aie_to_buff
sc = ai_engine_0.PLIO_o_image_2:buff2.aie_to_buff
sc = ai_engine_0.PLIO_o_image_3:buff3.aie_to_buff
sc = ai_engine_0.PLIO_o_image_4:buff4.aie_to_buff
sc = ai_engine_0.PLIO_o_image_5:buff5.aie_to_buff
sc = ai_engine_0.PLIO_o_image_6:buff6.aie_to_buff
sc = ai_engine_0.PLIO_o_image_7:buff7.aie_to_buff

# ------------------------------------------------------------
# Vivado PAR
# ------------------------------------------------------------

[vivado]
#impl.strategies=Performance_Explore,Performance_ExplorePostRoutePhysOpt,Performance_ExtraTimingOpt
#impl.strategies=Congestion_SpreadLogic_high
#impl.jobs=8
prop=run.impl_1.steps.phys_opt_design.is_enabled=1
prop=run.impl_1.steps.post_route_phys_opt_design.is_enabled=1

#prop=run.impl_1.steps.opt_design.args.directive=SpreadLogic_high
#prop=run.impl_1.steps.place_design.args.directive=SpreadLogic_high
#prop=run.impl_1.steps.phys_opt_design.args.directive=SpreadLogic_high
#prop=run.impl_1.steps.route_design.args.directive=SpreadLogic_high

# This enabled unified AIE flow to show AIE resource in Vivado:
param=project.enableUnifiedAIEFlow=true

[advanced]
param=hw_emu.enableProfiling=false
