#
# Copyright (C) 2023, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Faisal El-Shabani

[connectivity]

# ------------------------------------------------------------
# VSS sources:
# ------------------------------------------------------------

vss=amd.com:mrlib:channelizer:1.0:packet_sender,ai_engine_0,packet_receiver,splitter,mid_transpose,joiner,merge_8x4

# Sources/Sinks Data Movers to/from LPDDR/PL:
nk = packet_sender_wrapper:1:packet_sender
nk = packet_receiver_wrapper:1:packet_receiver
nk = splitter_wrapper:1:splitter
nk = mid_transpose_wrapper:1:mid_transpose
nk = joiner_wrapper:1:joiner
nk = merge_8x4_wrapper:1:merge_8x4

# ------------------------------------------------------------
# AXI Stream Connections (PL to AIE)
# ------------------------------------------------------------

# PL split to AI Engine Filterbank
sc = packet_sender.sig_o_0:ai_engine_0.PLIO_i_0
sc = packet_sender.sig_o_1:ai_engine_0.PLIO_i_1

# AI Engine Filterbank to PL packet receiver
# AIE to PL:
sc = ai_engine_0.PLIO_o_0:packet_receiver.in_port_0
sc = ai_engine_0.PLIO_o_1:packet_receiver.in_port_1
sc = ai_engine_0.PLIO_o_2:packet_receiver.in_port_2
sc = ai_engine_0.PLIO_o_3:packet_receiver.in_port_3

# PL packet receiver to AI Engine front FFT
sc = packet_receiver.out_port_0:ai_engine_0.PLIO_front_in_0
sc = packet_receiver.out_port_1:ai_engine_0.PLIO_front_in_1
sc = packet_receiver.out_port_2:ai_engine_0.PLIO_front_in_2
sc = packet_receiver.out_port_3:ai_engine_0.PLIO_front_in_3
sc = packet_receiver.out_port_4:ai_engine_0.PLIO_front_in_4
sc = packet_receiver.out_port_5:ai_engine_0.PLIO_front_in_5
sc = packet_receiver.out_port_6:ai_engine_0.PLIO_front_in_6
sc = packet_receiver.out_port_7:ai_engine_0.PLIO_front_in_7

# AIE front FFT to PL splitter:
sc = ai_engine_0.PLIO_front_out_0:splitter.sig_i_0
sc = ai_engine_0.PLIO_front_out_1:splitter.sig_i_1
sc = ai_engine_0.PLIO_front_out_2:splitter.sig_i_2
sc = ai_engine_0.PLIO_front_out_3:splitter.sig_i_3
sc = ai_engine_0.PLIO_front_out_4:splitter.sig_i_4
sc = ai_engine_0.PLIO_front_out_5:splitter.sig_i_5
sc = ai_engine_0.PLIO_front_out_6:splitter.sig_i_6
sc = ai_engine_0.PLIO_front_out_7:splitter.sig_i_7

# PL splitter to PL mid_transpose:
sc = splitter.sig_i_int_0:mid_transpose.sig_i_0
sc = splitter.sig_i_int_1:mid_transpose.sig_i_1
sc = splitter.sig_i_int_2:mid_transpose.sig_i_2
sc = splitter.sig_i_int_3:mid_transpose.sig_i_3
sc = splitter.sig_i_int_4:mid_transpose.sig_i_4
sc = splitter.sig_i_int_5:mid_transpose.sig_i_5
sc = splitter.sig_i_int_6:mid_transpose.sig_i_6
sc = splitter.sig_i_int_7:mid_transpose.sig_i_7
sc = splitter.sig_i_int_8:mid_transpose.sig_i_8
sc = splitter.sig_i_int_9:mid_transpose.sig_i_9
sc = splitter.sig_i_int_10:mid_transpose.sig_i_10
sc = splitter.sig_i_int_11:mid_transpose.sig_i_11
sc = splitter.sig_i_int_12:mid_transpose.sig_i_12
sc = splitter.sig_i_int_13:mid_transpose.sig_i_13
sc = splitter.sig_i_int_14:mid_transpose.sig_i_14
sc = splitter.sig_i_int_15:mid_transpose.sig_i_15

# PL mid_transpose to PL joiner:
sc = mid_transpose.sig_o_0:joiner.sig_o_int_0
sc = mid_transpose.sig_o_1:joiner.sig_o_int_1
sc = mid_transpose.sig_o_2:joiner.sig_o_int_2
sc = mid_transpose.sig_o_3:joiner.sig_o_int_3
sc = mid_transpose.sig_o_4:joiner.sig_o_int_4
sc = mid_transpose.sig_o_5:joiner.sig_o_int_5
sc = mid_transpose.sig_o_6:joiner.sig_o_int_6
sc = mid_transpose.sig_o_7:joiner.sig_o_int_7
sc = mid_transpose.sig_o_8:joiner.sig_o_int_8
sc = mid_transpose.sig_o_9:joiner.sig_o_int_9
sc = mid_transpose.sig_o_10:joiner.sig_o_int_10
sc = mid_transpose.sig_o_11:joiner.sig_o_int_11
sc = mid_transpose.sig_o_12:joiner.sig_o_int_12
sc = mid_transpose.sig_o_13:joiner.sig_o_int_13
sc = mid_transpose.sig_o_14:joiner.sig_o_int_14
sc = mid_transpose.sig_o_15:joiner.sig_o_int_15

# PL joiner to AIE back FFT:
sc = joiner.sig_o_0:ai_engine_0.PLIO_back_in_0
sc = joiner.sig_o_1:ai_engine_0.PLIO_back_in_1
sc = joiner.sig_o_2:ai_engine_0.PLIO_back_in_2
sc = joiner.sig_o_3:ai_engine_0.PLIO_back_in_3
sc = joiner.sig_o_4:ai_engine_0.PLIO_back_in_4
sc = joiner.sig_o_5:ai_engine_0.PLIO_back_in_5
sc = joiner.sig_o_6:ai_engine_0.PLIO_back_in_6
sc = joiner.sig_o_7:ai_engine_0.PLIO_back_in_7

# AIE back FFT to PL merge_8x4:
sc = ai_engine_0.PLIO_back_out_0:merge_8x4.sig_i_0:256
sc = ai_engine_0.PLIO_back_out_1:merge_8x4.sig_i_1:256
sc = ai_engine_0.PLIO_back_out_2:merge_8x4.sig_i_2:256
sc = ai_engine_0.PLIO_back_out_3:merge_8x4.sig_i_3:256
sc = ai_engine_0.PLIO_back_out_4:merge_8x4.sig_i_4:256
sc = ai_engine_0.PLIO_back_out_5:merge_8x4.sig_i_5:256
sc = ai_engine_0.PLIO_back_out_6:merge_8x4.sig_i_6:256
sc = ai_engine_0.PLIO_back_out_7:merge_8x4.sig_i_7:256
