debug=1
save-temps=1
temp_dir=binary_container_1
report_dir=binary_container_1/reports
log_dir=binary_container_1/logs

[advanced]
misc=solution_name=binary_container_1
[connectivity]
#sp=ai_engine_0.in_out:DDR
sp=ai_engine_0.gmioIn:LPDDR
sp=ai_engine_0.gmioOut:LPDDR
