#
#Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
#SPDX-License-Identifier: MIT
#

[aie]
event-trace=runtime
broadcast-enable-core=true

event-trace-port=gmio

xlopt=0
