#
# Copyright (C) 2026, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Packet Receiver HLS Configuration

part=xcve2802-vsvh1760-2MP-e-S

[hls]
flow_target=vitis
clock=3.2ns

# C-Synthesis:
syn.top=packet_receiver_wrapper
syn.file=packet_receiver.cpp
syn.file_cflags=packet_receiver.cpp,-I../../aie/channelizer/Work/temp
syn.file_csimflags=packet_receiver.cpp,-I../../aie/channelizer/Work/temp

# Testbench:
tb.file=packet_receiver_tb.cpp
tb.file_cflags=packet_receiver_tb.cpp,-I../../aie/channelizer/Work/temp

# C-Simulation:
csim.clean=true
csim.setup=false

# C/RTL Co-Simulation:
cosim.setup=false
cosim.wave_debug=true
cosim.tool=xsim
cosim.trace_level=port

# Package:
package.output.file=packet_receiver_wrapper.xo
package.output.format=xo

# OOC Place & Route:
vivado.flow=impl
