#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: MIT
#
# Author: Mark Rollins

part=xcvc1902-vsva2197-2MP-e-S

[hls]
flow_target=vitis
clock=3.2ns

# C-Synthesis:
syn.top=image_buffer_1engine_wrapper
syn.file=image_buffer_1engine.cpp
syn.file_cflags=image_buffer_1engine.cpp,-I../../..
syn.file_csimflags=image_buffer_1engine.cpp,-I../../..

# Testbench:
tb.file=tb_wrapper.cpp
tb.file_cflags=tb_wrapper.cpp,-I../../..

# C-Simulation:
csim.clean=true
csim.setup=false

# C/RTL Co-Simulation:
cosim.setup=false
cosim.wave_debug=false

# Package:
package.output.file=image_buffer_1engine_wrapper.xo
package.output.format=xo

# OOC Place & Route:
vivado.flow=impl
