[submodule "Hardware_Acceleration/Design_Tutorials/02-ivas-ml/hw_src/Vitis_Libraries"]
	path = Hardware_Acceleration/Design_Tutorials/02-ivas-ml/hw_src/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "Hardware_Acceleration/Introduction/design_source/hw_src/Vitis_Libraries"]
	path = Hardware_Acceleration/Introduction/design_source/hw_src/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries
