#
# Copyright (C) 2023-2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
#

freqhz=500000000:counter_0
freqhz=250000000:axis1to2_0,vadd_s_0

[connectivity]
nk=counter:1:counter_0
nk=vadd_s:1:vadd_s_0
nk=axis1to2:1:axis1to2_0

vss=amd.com:my_vsslib:vss_top:1.0:counter_0,vadd_s_0,axis1to2_0,ai_engine_0
sc=counter_0.m01_axis:ai_engine_0.dm_in0
# to add fifo, add :<fifo_depth> to connection
#sc=counter_0.m02_axis:ai_engine_0.dm_in1:16
sc=counter_0.m02_axis:ai_engine_0.dm_in1
sc=counter_0.m03_axis:ai_engine_0.dm_in2
sc=counter_0.m04_axis:ai_engine_0.dm_in3
sc=axis1to2_0.out0:ai_engine_0.fir_sig_in0
sc=axis1to2_0.out1:ai_engine_0.fir_sig_in1
sc=ai_engine_0.fir_sig_out0:vadd_s_0.in0
sc=ai_engine_0.fir_sig_out1:vadd_s_0.in1


