#
# Copyright (C) 2025, Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: X11
#
# Author Derek Hagen

[hls]
flow_target=vitis
#syn.top=axis1to2
#syn.file=./src/axis1to2.cpp
csim.setup=false
cosim.setup=false

#package.ip.name=axis1to2
package.output.format=xo
#package.output.file=../xo_hw/axis1to2.xo

vivado.flow=impl
