[connectivity]

# ------------------------------------------------------------
# HLS PL Kernels:
# ------------------------------------------------------------

nk = mm2s:2:mm2s_1,mm2s_2
nk = s2mm:1:s2mm

# ------------------------------------------------------------
# AXI Stream Connections (PL to AIE)
# ------------------------------------------------------------
stream_connect = mm2s_1.s:ai_engine_0.DataIn1
stream_connect = mm2s_2.s:ai_engine_0.DataIn2
stream_connect = ai_engine_0.DataOut1:s2mm.s

